.banner {
  padding-top: 120px;
  font-weight: normal;
  display: flex;
  height: 520px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7395ba;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

header div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  height: 250px;
}

.username{
  color: #FFFFFF;
  padding-bottom: 50px;
 }

@media only screen and (min-width: 1024px) {
  .banner {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    width: 50%;
  }
  header div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .banner img {
    height: 225px;
  }

  .username{
    padding-bottom: 100px;
   }

}