.new-tweet {
  width: 100%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

form label {
color: grey;
}

form textarea {
  padding-top: 10px;
  color: #4C4E52;
  outline: none;
  resize: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #4C4E52;
}
form div {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Bungee', cursive;
}

button {
  border: none;
  padding-top: 5px;
  background-color: #4056A1;
  color: #FFFFFF;
}

button:hover {
  background-color: hsl(226, 58%, 33%);
}