
/* Styling for tweets that display */

.tweet {
  padding: .75em;
  border: 1mm solid #4C4E52;
  margin: 10px;
}

.right-header p {
  font-size: large;
  font-weight: bold;
  color: hsl(227, 84%, 83%);
}

.tweet:hover {
  box-shadow: 5px 5px #839cf9;
}

article header {
  display: flex;
  flex-direction: row;
  font-size: medium;
  justify-content: space-between;
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px
}

.left-header img {
  width: 40px;
  height: 40px;
}

.right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.display-tweet {
  font-weight: bold;
  margin-bottom: 1mm;
  font-size: medium;
  padding-bottom: 2%;
  border-bottom: 3px solid #4C4E52;
}

article footer {
  font-size: small;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article footer .fa-flag:hover{
  color: burlywood;
}

article footer .fa-retweet:hover{
  color: burlywood;
}

article footer .fa-heart:hover{
  color: burlywood;
}